references/**/*.pdf
data/*
!data/README.md
tests/out
out/

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.pytest_cache/
.ipynb_checkpoints/

# scratch / local artifacts
tmp/
tmp1/
tmp2/
CORAplus411_240517.zip